<div class="sidebar-box subs-wrap img" style="background-image: url(assets/images/bg1.png);">
  <div class="overlay"></div>
  <h3 class="mb-4 sidebar-heading">{{newsletterModel.title | language}}</h3>
  <p class="mb-4">{{newsletterModel.content | language}}</p>
  <form action="#" class="subscribe-form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="{{newsletterModel.inputDescription | language}}">
      <input type="submit" value="{{newsletterModel.submitButtonText | language}}" class="mt-2 btn btn-white submit">
    </div>
  </form>
</div>
