<div class="sidebar-box subs-wrap img" style="background-image: url(assets/images/bg1.png);">
  <div class="overlay"></div>
  <h3 class="mb-4 sidebar-heading">{{ApplicationTitle.NEWS_LETTER_TITLE | language}}</h3>
  <p class="mb-4">{{ApplicationTitle.NEW_LETTER_CONTENT | language}}</p>
  <form action="#" class="subscribe-form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="{{ApplicationTitle.EMAIL_ADDRESS | language}}">
      <input type="submit" value="{{ApplicationTitle.SUBSCRIBE | language}}" class="mt-2 btn btn-white submit">
    </div>
  </form>
</div>
