@if(configService.config | async; as config){
  <div class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(https://res.cloudinary.com/worldpackers/image/upload/c_limit,f_auto,q_auto,w_1140/nmfu9poa8vyz3ylmcxax);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="js-fullheight d-flex justify-content-center align-items-center">
      <div class="col-md-8 text text-center">
        <div class="img mb-4" style="background-image: url(https://res.cloudinary.com/worldpackers/image/upload/c_limit,f_auto,q_auto,w_1140/nmfu9poa8vyz3ylmcxax);"></div>
        <div class="desc">
          <h2 class="subheading">{{ApplicationTitle.HELLO_I_AM | language}}</h2>
          <h1 class="mb-4">{{config.infoPageConfig.name}}</h1>
          <p class="mb-4">{{config.infoPageConfig.bio}}</p>
          <ul class="ftco-social mt-3">
            @for (item of config.socialConfigs; track item.id) {
              <li class="ftco-animate"><a [href]="item.ref", target="_blank"><span class="icon-{{item.name.toLowerCase()}}"></span></a></li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
}
