<section class="home-slider js-fullheight owl-carousel">
  @for (carousel of listCarousel; track carousel.id) {
    <div class="slider-item js-fullheight" [style.background-image]="'url(' + carousel.img + ')'">
      <div class="overlay"></div>
      <div class="container-fluid">
        <div class="row no-gutters slider-text slider-text-2 js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{carousel.title}}</h1>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{carousel.description}}</p>
          </div>
        </div>
      </div>
    </div>
  }
</section>
