<div class="block-21 mb-4 d-flex">
  <a class="blog-img mr-4" [style.background-image]="'url('+post.image +')'"></a>
  <div class="text">
    <h3 class="heading"><a [routerLink]="['/post', post.slug]">{{post.title}}</a></h3>
    <div class="meta">
      <div><span class="icon-calendar"></span> {{(post.updatedDate ?? post.createdDate) | appDate}}</div>
      <div><a [routerLink]="['/author', post.author.slug]"><span class="icon-person"></span> {{post.author.userName}}</a></div>
      <div><span class="icon-chat"></span> {{post.countCommentRef}}</div>
    </div>
  </div>
</div>
