<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container px-md-5">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">{{ApplicationTitle.CATEGORY | language}}</h2>
          <ul class="list-unstyled categories">
            @if(configService.config | async; as config){
              @for (item of config.categoryCountArchives ?? []; track item.id) {
                <li>
                  <a [routerLink]="item.ref">{{item.name}}
                    <span>({{item.count}})</span>
                  </a>
                </li>
              }
            }
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">{{ApplicationTitle.ARCHIVES | language}}</h2>
          <ul class="list-unstyled categories">
            @if(configService.config | async; as config){
              @for (item of config.archivesCountAtTime ?? []; track item.time) {
                <li>
                  <a [routerLink]="item.ref">{{item.time}}
                    <span>({{item.count}})</span>
                  </a>
                </li>
              }
            }
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">{{ApplicationTitle.HAVE_A_QUESTIONS | language}}</h2>
          <div class="block-23 mb-3">
            <ul>
              @if (configService.config | async; as config) {
                <li>
                  <span class="icon icon-map-marker"></span>
                  <span class="text">{{ config.infoPageConfig.address }}</span>
                </li>

                <li>
                  <a [href]="'tel:' + config.infoPageConfig.phone">
                    <span class="icon icon-phone"></span>
                    <span class="text">{{ config.infoPageConfig.phone }}</span>
                  </a>
                </li>

                <li>
                  <a [href]="'mailto:' + config.infoPageConfig.email">
                    <span class="icon icon-envelope"></span>
                    <span class="text">{{ config.infoPageConfig.email }}</span>
                  </a>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <p>© {{yearNow}} Nik App | A personal blog sharing stories, travel, and creativity</p>
      </div>
    </div>
  </div>
</footer>
