<app-hero-carousel></app-hero-carousel>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="col-md-12" #articleList>
          @for (article of articles; track article.id) {
            <app-post-card [post]="article"></app-post-card>
          }
        </div>
        <app-pagination [currentPage]="currentPage" [pageCount]="pageCount" (pageChange)="load($event)"></app-pagination>
      </div>
      <div class="col-lg-4 sidebar">
        <app-plant-banner></app-plant-banner>
      </div>
    </div>
  </div>
</section>
