@if (pageCount > 1) {
  <div class="row mt-5">
    <div class="col">
      <div class="block-27">
        <ul>
          <li [class.disabled]="currentPage === 1">
            <a (click)="go(currentPage - 1)">&lt;</a>
          </li>
          @for (p of pages; track p) {
            <li [class.active]="p === currentPage">
              @if (p === currentPage) {
                <span>{{ p }}</span>
              } @else {
                <a (click)="go(p)">{{ p }}</a>
              }
            </li>
          }
          <li [class.disabled]="currentPage === pageCount">
            <a (click)="go(currentPage + 1)">&gt;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
}
