<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      @if (article) {
        <h2 class="mb-3 font-weight-bold">{{article.title}}</h2>
        <div [innerHTML]="article.content"></div>
        <div class="tag-widget post-tag-container mb-5 mt-5">
          <div class="tagcloud">
            @for (tag of article.tags; track tag.id) {
              <app-tag-cloud [tagCloud]="{id: tag.id, name: tag.name, ref: '/tag/' + tag.slug}"></app-tag-cloud>
            }
          </div>
        </div>
        <div class="about-author d-flex p-4 bg-light">
          <div class="bio mr-5">
            @if (article.author.avatar) {
              <img [src]="article.author.avatar" [alt]="article.author.userName" class="img-fluid mb-4">
            }
          </div>
          <div class="desc">
            <h3>{{article.author.userName}}</h3>
            <p>{{ translatedBio || article.author.bio }}</p>
          </div>
        </div>
        <div class="pt-5 mt-5">
          <app-post-comment-list
            [commentCount]="article.countCommentRef"
            [commentList]="comments"
            (replyClicked)="replyTo = $event">
          </app-post-comment-list>
          <app-input-comment
            [articleId]="article.id"
            [replyTo]="replyTo"
            (commentPosted)="loadComments()"
            (cancelReply)="replyTo = null">
          </app-input-comment>
        </div>
      }
    </div>
    <div class="col-lg-4 sidebar">
      <app-plant-banner></app-plant-banner>
    </div>
  </div>
</div>
